@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --cor-de-fundo:#0becd9;
    --botao-inativo: rgba(240, 37, 149, 0.7);
    --botao-ativo :#f20cad;
    --branco:#ffffff;
    --cor-letra: #5ce915;
    --sublinhado:#f70fc5;
}
body{
    background-color: black;
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif; 
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    font-size: 32px;
    width: 100%;
}

.titulo-principal span{
    color: rgb(33, 237, 11);
}

.botao{
    font-family: 'Chakra Petch', sans-serif; 
    background-color: var(--botao-inativo);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;

    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;

}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}
.botoes {
    display: block; 
}
.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--sublinhado);
}

abas-textos{
    background-color: rgba(0, 0, 255, 0.646);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display: block;  
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--sublinhado);
    text-transform: uppercase;
}

.contador{
    font-size: 20px;
    text-align: center;
}


@media screen and (min-width: 768px) {
   .botoes{
    display: flex;}
    .botao:first-child {
        border-radius: 40px 0 0 0;
    }
    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
    
   }

